@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.container {
margin-top: 70px
}




h1{
    text-align: center;
    font-size: 3rem;
    color: #00539CFF

}

p{
    text-align: center;
    font-size: 1.2rem;
}

ul{
    margin-left: auto;
    margin-right: auto;
width: 50vw;}

li{
    text-align: left;
}

button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    width: 70px;
    background-color:  #00539CFF;
    height: 30px;
    color: white;
    border: none;
}

@media  (max-width:480px) {

    h1{
    font-size: 2.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    li{
     font: 0.8rem;
    }
}
